<!DOCTYPE html>
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
      <title>Busca!</title>
   </head>
   <body style="background-image: url('https://i.imgur.com/y6TYPm2.png'); ">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <a class="navbar-brand" href="#">AmyGoo!</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/show">Cadastros</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/contact">Entre em Contato</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/busca">Buscar!</a>
               </li>
            </ul>
            <h1 class="form-inline my-2 my-lg-0">
               <form action="/search" method="GET">
               <input class="form-control" type="text" name="query" placeholder="Raça, Cor">
               <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
             </form> 
        </div>      
      </nav>
      <br>
      <div class="container">
         <div class="jumbotron">
            <center>
               <h1 class="display-3"> Buscar no AmyGoo </h1>
               <form action="/search" method="GET">
                  <div class="col-sm-5">
                     <input class="form-control" type="text" name="query" placeholder="Raça, Cor">
                     <br>
                     <input type="submit" value="Buscar" class="btn btn-primary" />
                  </div>
                  <div class="panel-body">
                     <table class="table table-striped table-bordered table-list">
                        <thead>
                           <tr>
                              <td>Nome</td>
                              <td>Bairro</td>
                              <td>E-mail</td>
                              <td>Nome do Pet</td>
                              <td>Raça do Pet</td>
                              <td>Cor do Pet</td>
                             
                           </tr>
                        </thead>
                        <tbody>
                           <% for(var i=0; i < data.length; i++) { %>
                           <tr>
                              </td>
                              <td>
                                 <%= data[i].nome %>
                              </td>
                              <td>
                                 <%= data[i].bairro %>
                              </td>
                              <td>
                                 <%= data[i].email %>
                              </td>
                              <td>
                                 <%= data[i].nomedopet %>
                              </td>
                              <td>
                                 <%= data[i].racadopet %>
                              </td>
                              <td>
                                 <%= data[i].cordopet %>
                              </td>
                             
                           </tr>
                           <% } %>
                        </tbody>
                     </table>
                  </div>
               </form>
            </center>
         </div>
      </div>
   </body>
</html>
